<!-- design gallery pages  -->
<br> <br>
<div class="container"> <br>
    <i class="fa fa fa-angles-left icon" (click)="scroll()" [routerLink]="['/home']"></i>

    <P class="para">DESIGN GALLERY</P>
    <div class="cardt">
        <h2 style="text-align: center; padding-top: 1%;">Residential Designs </h2>
    </div>
    <br>
    <div class="row">
        <br> <br>
        <div class="col-md-4 ">
            <div class="card" (click)="scroll()" [routerLink]="['/modularkitchen']">
                <img src="/assets/Modularkitchen/IMG-20211229-WA0034.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Modular Kitchen</b></div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4 ">
            <div class="card" (click)="scroll()" [routerLink]="['/Kidsroomdesign']">
                <img src="/assets/kidsroom/kids2.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Kids Room Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/wordebaledesign']">
                <img class="img" src="/assets/Wardboard/woard.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Wardrobe Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/livingroom']">
                <img class="image" src="/assets/Livingroom/IMG-20211206-WA0075.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Living Room </b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/gardendesign']">
                <img src="/assets/Garden/garden2.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Garden Design </b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/bathroom']">
                <img src="/assets/Bathroom/ba - Copy.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Bath Room Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/bardesign']">
                <img src="/assets/Bardesign/bar3.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Bar Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/officespace']">
                <img src="/assets/Office/G_Edit.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Hotel Office Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/bathroom']">
                <img src="/assets/Bathroom/BathroomDesigns_02.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b> Bath Room Design</b> </div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/livingroom']">
                <img src="/assets/Livingroom/IMG-20211224-WA0086.jpg" alt="">

                <div class="overlay2">
                    <div class="text"> <b>Living Room</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/wordebaledesign']">
                <img src="/assets/Wardboard/woard.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b> Wardrobe Design </b></div>
                </div>
            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/modularkitchen']">
                <img src="/assets/Modularkitchen/IMG-20211229-WA0034.jpg" alt="">

                <div class="overlay2">
                    <div class="text"> <b>Modular Kitchen </b></div>
                </div>
            </div> <br>
        </div>


        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/homeoffice']">
                <img src="/assets/allimages/HomeOfficeDesigns.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b> Home Office Design</b> </div>
                </div>
            </div> <br>
        </div>

        <!-- <div class="col-md-4">
            <div class="card"  [routerLink]="['/bathroom']">
                <img src="/assets/Bathroom/Edit/BATHROOM A.jpg" alt="">
                <h5 class="wardrobe">BathRoom Design</h5>
                <div class="overlay">
                    <div class="text"><b>BathRoom Design</b></div>
                </div>
            </div> <br>
        </div> -->



        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/gardendesign']">
                <img src="/assets/allimages/PlantsGardeningDesign.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Garden Design</b></div>
                </div>
            </div> <br>
        </div>

    </div> <br>

    <div class="cardt">
        <h2 style="text-align: center; padding-top: 1%;">Commercial Designs</h2>
    </div>
    <br>
    <div class="row">

        <!-- <div class="col-md-4 col-sm-4">
            <div class="card"  [routerLink]="['/cafeteria']">
                <img src="/assets/allimages/CommercialDesign/Cafeteria_Design_02.jpg" alt="">
                <h5 class="wardrobe">Cafeteria Design</h5>
                <div class="overlay">
                    <div class="text"><b>Cafeteria Design</b></div>
                </div>
            </div>
            <br>
        </div> -->
        <div class="col-md-4 col-sm4">
            <div class="card" (click)="scroll()" [routerLink]="['/cafeteria']">
                <img src="/assets/Restaurant/restaurant.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Cafeteria Design</b></div>
                </div>
            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/lobby']">
                <img src="/assets/Lobby/Lobby_Design_02.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Lobby Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/restaurant']">
                <img src="/assets/Restaurant/res2.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b> Restaurant Design</b> </div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/meetingroom']">
                <img src="/assets/Office/WORKING 1.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Meeting Room Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/officespace']">
                <img src="/assets/Office/CONFERENCE AA - Copy.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Meeting Room Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/officespace']">
                <img src="/assets/Office/Office_Site.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Meeting Room Design</b></div>
                </div>
            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/officespace']">
                <img src="/assets/Office/20220928_192659.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Office Space Design</b> </div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/officespace']">
                <img src="/assets/Office/CabinView04.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b> Office Space Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/officespace']">
                <img src="/assets/Office/c4d8f8524df7ae3b8d067aa44760837d.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b> Office Space Design</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/reception']">
                <img src="/assets/Office/Reception Area Design - Copy.jpg" alt="">

                <div class="overlay">
                    <div class="text"> <b>Reception Area Design </b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="card" (click)="scroll()" [routerLink]="['/cafeteria']">
                <img src="/assets/Restaurant/restaurant2.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Cafeteria Design</b></div>
                </div>
            </div>
            <br>
        </div>
        <!-- <div class="col-md-4">
            <div class="card"  [routerLink]="['/modularkitchen']">
                <img src="/assets/allimages/CommercialDesign/ReceptionAreaDesign.jpg" alt="">
                <h5 class="wardrobe">Reception Area  </h5>
                <div class="overlay">
                    <div class="text"> <b>Reception Area Design</b></div>
                </div>
            </div> <br>
        </div> -->

        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/restaurant']">
                <img src="/assets/Restaurant/restaurant3.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Restaurant Design</b></div>
                </div>
            </div> <br>
        </div>

        <br><br>

    </div>
</div>

<br><br>