<div class="main">
    <br><br><br>
    <div class="container"> <br>
        <p class="i" [routerLink]="['/Home']"><i class="fa fa fa-angles-left icon"></i>Back to home</p>
        <div class="div">
            <h1 style="text-align: center; color: #ffa719;"> RESIDENTIAL DESIGNS</h1>
            <br><br>
            <div class="row">
                <h3>A) Residential Architecture :</h3> <br>
                <div class="col-md-6">
                    <img src="" alt="">
                </div>
                <div class="col-md-6">
                    <p> Residential architecture is the branch of architecture that deals with the design and
                        construction of
                        residential buildings such as houses, apartments, and condominiums. It involves designing
                        buildings that
                        meet
                        the specific needs and preferences of homeowners, while also complying with building codes and
                        regulations.
                    </p>

                </div>
            </div>


        </div>
        <br>
        <br>
        <div class="row">
            <h3>B) Residential Interior :</h3> <br><br>
            <div class="col-md-6">
                <p>Residential interior design is the art and science of creating functional, comfortable, and
                    aesthetically
                    pleasing living spaces within residential buildings. It involves designing interiors that meet the
                    specific
                    needs and preferences of homeowners, while also incorporating elements of style and beauty.
                </p>

            </div>
            <div class="col-md-6">
                <img src="" alt="">
            </div>
        </div>

    </div>
    <br><br>
</div>