<br><br>
<br><br><br>

<div class="container">

  <i class="fa-sharp fa-solid fa-backward" [routerLink]="['/Gallery']"></i>
  <h1 style="text-align: center;">Office Space Designs</h1>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card">
          <div class="card-body">


            <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
              <!-- Indicators -->
              <div class="carousel-indicators" style="margin-bottom: -15px;">
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1">
                  <img src="/assets/Office/Office_Site.jpg" class="d-block w-100 image" alt="..." />
                </button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                  aria-label="Slide 2">
                  <img src="/assets/Office/G_Edit.jpg" class="d-block w-100 image" alt="..." />
                </button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                  aria-label="Slide 3">
                  <img src="/assets/Office/J_Edit.jpg" class="d-block w-100 image" alt="..." />
                </button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3"
                  aria-label="Slide 3">
                  <img src="/assets/Office/Office_Site.jpg" class="d-block w-100 image" alt="..." />
                </button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4"
                  aria-label="Slide 3">
                  <img src="/assets/Office/J_Edit.jpg" class="d-block w-100 image" alt="..." />
                </button>
              </div>

              <!-- Inner -->
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <img src="/assets/Office/Office_Site.jpg" class="d-block w-100 image" alt="..." />
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img src="/assets/Office/G_Edit.jpg" class="d-block w-100 image" alt="..." />
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img src="/assets/Office/J_Edit.jpg" class="d-block w-100 image" alt="..." />
                </div>

                <div class="carousel-item">
                  <img src="/assets/Office/Office_Site.jpg" class="d-block w-100 image" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="/assets/Office/J_Edit.jpg" class="d-block w-100 image" alt="..." />
                </div>

              </div>
              <!-- Inner -->

              <!-- Controls -->
              <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>

  </div>
</div>