<br> <br>
<div class="container">
    <p class="p">Back to search</p>
    <div class="div">
        <p><i class="bi bi-caret-left-fill contact" [routerLink]="['/Home']"></i></p>
        <br>
        <p style="text-align: center; font-size: 50px; color: #ffa719;">Welcome to</p>
        <p style="text-align: center; font-size: 50px; color: #ffa719;"> CarveIt Interiors And Associates.</p>
        <br>
        <p>
            Few years after its inception, & the state of the art in Pune, we purely believe in our name & deliver the
            same. We are here to carve your dream for a beautiful home into reality.
        </p>

        <p> We respect the value of our clients as they are the lifeline of our company & we are no one without them. We
            believe in building a strong ligature of relationships & trust with our clients.
            Each & every design, decor of CarveIt manifests its commitment towards establishing trust and creating a
            positive impact on our clients, environment, and society.
        </p>
        <p>
            Our team is our resource, and together we take the responsibility of achieving agreed-upon results. It's our
            core values that enforce us to consider our actions and deliver the best to make a broader impact.
            Our constant attention to clients' needs is the foundation of our company.
        </p>

        <p>CarveIt Interiors specializes in providing professional interior design services to clients. Our belief is
            to help clients improve their indoor spaces by creating functional, beautiful,
            and innovative designs that meet their needs and preferences.
        </p>
        <br>
        <p> CarveIt Interior is an expert in various aspects of design, including space planning, furniture selection,
            lighting, colors, material choices, and more. We work closely with our clients to understand their
            requirements,
            Vastu Design, and aesthetic preferences and create designs that bring their imagination into reality.
        </p>
        <p> CarveIt Interior offers a range of services, including Design Concept Development, 3D Modeling, Project
            Management, Material Selection, Budgeting, and Construction Management.
            We, CarveIt Interior, also work with Contractors, Suppliers, and other industry professionals to ensure that
            our designs are executed flawlessly.</p>
    </div>
    <br>
    <br>
</div>