<br> <br><br>
<div class="container"> <br>
    <p class="i" [routerLink]="['/Home']"><i class="fa fa fa-angles-left icon"></i>Back to home</p>
    <h1 style="text-align: center; color: #ffa719;">Interior Design Services </h1>
    <br>
    <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Architectural Details And Drawings
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Architectural details and drawings are technical documents that provide a
                        detailed representation of the design and construction of buildings and other structures.
                        <br>
                    </p>
                    <a href="#Architectural" class="btn">Know More</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Construction Floor Plans And Elevations
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"> Interior design services involve the planning, design, and decoration of
                        interior spaces in buildings,including homes, offices, hotels, and restaurants. As part of
                        this process.
                    </p>
                    <a href="#Construction" class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Coordination With Architects And Contractors
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Coordination with architects and contractors is an essential aspect of the
                        design and construction process.
                        Architects are responsible for creating the design of the building .
                    </p>
                    <a href="#" class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Space Planning And Interior Architecture
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Space planning and interior architecture are key aspects of interior design
                        that involve the strategic
                        planning and design of interior their functionality, safety.
                    </p>
                    <a href="#" class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Selection Of Furniture And Accessories
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"> The selection of furniture and accessories is an important part of the
                        interior design process. Furniture and
                        accessories can significantly impact the look and feel of a space, as well as its functionality.
                    </p>
                    <a href="#" class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Custom Furniture And Textile Design
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"> Custom furniture and textile design are specialized areas of interior design
                        that involve creating ,
                        one-of-a-kind pieces for a specific space or project.
                        Custom furniture design involves creating unique pieces.
                    </p>
                    <a href="#" class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Concierge Purchasing Management
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"> Concierge purchasing management is a service offered by some interior design
                        firms that involves managing the
                        procurement process for furniture, materials, and other items needed for an interior design
                        project.
                    </p>
                    <a href="#" class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Color Palette Consultation Design
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Color palette consultation is a service offered by interior designers to help
                        clients select the right color palette for their interior design project.
                        Choosing the right colors can be a daunting task for many people.
                    </p>
                    <a href="#" class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>

    </div>
</div>


<div class="container">
    <br>

    <h1 style="text-align: center;">Interior Design Services </h1>
    <br> <br>
    <div>
        <div class="row" id="Architectural">
            <h3>A) Architectural Details And Drawings : </h3>
            <br>
            <div class="col-md-6"> <br>
                <p>Architectural details and drawings are technical documents that provide a detailed representation of
                    the
                    design
                    and construction of buildings and other structures.
                </p>
                <br>
                <p>
                    Architectural details and drawings typically include :
                </p>
                <ul>
                    <li>Floor plans:</li>
                    <li>Elevations:</li>
                    <li>Sections:</li>
                    <li>Details: </li>
                    <li>Structural drawings:</li>
                    <li>Mechanical and electrical drawings:</li>
                </ul>
                <p>Architectural details and drawings are critical for the successful design and construction of
                    buildings and
                    structures. They provide a clear and precise representation of the design intent and help to ensure
                    that the
                    building is constructed to the highest standards of safety, quality, and functionality.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img class="images" src="/assets/allimages/DesignDevelopment.jpg" alt="">

            </div>
        </div>
        <br>
    </div>
    <br>

    <div class="div">
        <div class="row">
            <h3>B) Construction Floor Plans And Elevations : </h3>
            <br> <br>
            <div class="col-md-5" style="text-align: center;"> <br>
                <img class="images" src="/assets/allimages/designinterior.jpg" alt="">
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-6">
                <br> <br> <br>
                <p> Construction floor plans and elevations are technical documents that provide a detailed
                    representation of
                    the
                    design and construction of interior spaces.
                    <br> <br> They typically include:
                </p>


                <ul>
                    <li>Floor plans:</li>
                    <li>Elevations: </li>
                    <li>Sections: </li>
                    <li>Details:</li>
                </ul>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="div">
        <div class="row">
            <h3>C) Coordination With Architects And Contractors :</h3>
            <br><br>
            <div class="col-md-6" style="text-align: center;">
                <br> <br>
                <p> Coordination with architects and contractors is an essential aspect of the design and construction
                    process.
                    Architects are responsible for creating the overall design of the building or structure, while
                    contractors
                    are responsible for executing the construction work according to the design specifications.
                    <br> Interior
                    designers often work closely with both architects and contractors to ensure that their interior
                    design plans
                    are integrated seamlessly into the overall building design and construction process.
                    .
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img class="images" src="/assets/allimages/ArchitecturalServices/Design_Development.jpg" alt="">
            </div>
        </div>

    </div>
    <br>
    <div class="div">
        <div class="row">
            <h3>D) Space Planning And Interior Architecture :</h3>
            <div class="col-md-6">
                <br>
                <p>Space planning and interior architecture are key aspects of interior design that involve the
                    strategic
                    planning and design of interior spaces to maximize their functionality, aesthetics, and safety.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img src="" alt="">
            </div>
        </div>


    </div>
    <br>
    <br>
    <div class="div">
        <h3>E) Selection of Furniture And Accessories : </h3>
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="">
            </div>
            <div class="col-md-6">
                <p>The selection of furniture and accessories is an important part of the interior design process.
                    Furniture and
                    accessories can significantly impact the look and feel of a space, as well as its functionality.
                </p>
            </div>
        </div>


    </div>

    <br>
    <div class="div">
        <div class="row">
            <h3>F) Custom Furniture And Textile Design : </h3>
            <br><br>
            <div class="col-md-6">
                <p>Custom furniture and textile design are specialized areas of interior design that involve creating
                    bespoke,
                    one-of-a-kind pieces for a specific space or project.
                </p>
            </div>
            <div class="col-md-6"></div>
        </div>


    </div>

    <br>
    <div class="div">

        <div class="row">
            <h3>G) Concierge Purchasing Management :</h3>

            <div class="col-md-6"></div>
            <div class="col-md-6"> <br>
                <p>Concierge purchasing management is a service offered by some interior design firms that involves
                    managing the
                    procurement process for furniture, materials, and other items needed for an interior design project.
                    This
                    service is designed to help clients save time and reduce the stress associated with purchasing and
                    coordinating deliveries of items needed for their project.
                </p>
                <p>Concierge purchasing management typically involves the following steps:</p><br>
                <ul>
                    <li>Creating a detailed list of required items: </li>
                    <li>Sourcing and selecting items:
                    </li>
                    <li>Managing the ordering and delivery process:
                    </li>
                    <li>Handling any issues that arise:
                    </li>
                </ul><br>
            </div>
        </div>


    </div>

    <br>
    <div class="div">
        <div class="row">
            <h3>H) Color Palette Consultation : </h3>
            <br><br>
            <div class="col-md-6">
                <p>Color palette consultation is a service offered by interior designers to help clients select the
                    right color
                    palette for their interior design project. Choosing the right colors can be a daunting task for many
                    people,
                    and a color palette consultation can help simplify the process.
                </p>
            </div>
            <div class="col-md-6"></div>
        </div>


    </div>
</div>