<br>

<p class="design"><b>DESIGN GALLERY</b></p> <br>

<br>

<div style="text-align: center;">
    <div>
        <div class="card cardd" style="padding: 1%;" [routerLink]="['/Residentialdesign']">
            <p>Residential Designs</p>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="card2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" (click)="scroll()" [routerLink]="['/modularkitchen']">
                            <div class="card">
                                <img src="/assets/Modularkitchen/IMG-20220708-WA0049.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Modular Kitchen Designs</div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="col-md-4"  (click)="scroll()" [routerLink]="['/livingroom']">
                            <div class="card">
                                <img src="/assets/Livingroom/home1.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Living Room Designs</div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="col-md-4"   (click)="scroll()" [routerLink]="['/Kidsroomdesign']">
                            <div class="card">
                                <img src="/assets/kidsroom/kids a.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Kids Room Designs</div>
                                </div>
                            </div> <br>
                        </div> <br>
                        <div class="col-md-4"  (click)="scroll()" [routerLink]="['/wordebaledesign']">
                            <div class="card">
                                <img src="/assets/Wardboard/woard.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Wardrobe Designs</div>
                                </div>
                            </div> <br>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-4"  (click)="scroll()" [routerLink]="['/homeoffice']">
                            <div class="card">
                                <img src="/assets/Homeoffice/homeoffice.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Home Office Designs</div>
                                </div>
                            </div> <br>
                        </div> <br>

                        <div class="col-md-4"  (click)="scroll()" [routerLink]="['/modularkitchen']">
                            <div class="card">
                                <img src="/assets/Modularkitchen/IMG-20211229-WA0034.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Modular Kitchen Designs</div>
                                </div>
                            </div> <br>
                        </div> <br>

                        <div class="col-md-4"  (click)="scroll()" [routerLink]="['/bardesign']">
                            <div class="card">
                                <img src="/assets/allimages/bardesign.jpg" alt="">
                                <div class="overlay">
                                    <div class="text"> Bar Designs</div>
                                </div>
                            </div> <br>
                        </div>
                        <br>
                        <div class="col-md-4"  (click)="scroll()" [routerLink]="['/gardendesign']">
                            <div class="card">
                                <img src="/assets/Garden/_Z6P6123.jpg" alt="">
                                <div class="overlay">
                                    <div class="text"> Garden Designs</div>
                                </div>
                            </div> <br>
                        </div>
                        <br> 
                        <div class="col-md-4"  (click)="scroll()" [routerLink]="['/livingroom']">
                            <div class="card">
                                <img src="/assets/Livingroom/IMG-20220209-WA0051.jpg" alt="">
                                <div class="overlay">
                                    <div class="text"> Living Room Designs</div>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div style="text-align: center;">
            <div class="" [routerLink]="['/']"> 
                <div class=" card cardd" style="padding: 1%;"  (click)="scroll()" [routerLink]="['/CommercialDesign']">
                    <p> Commercial Designs</p>
                </div>
                <br>
                <br>
                <div class="container">
                    <div class="card2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4"  (click)="scroll()" [routerLink]="['/officespace']">
                                    <div class="card">
                                        <img src="/assets/Office/c4d8f8524df7ae3b8d067aa44760837d.jpg" alt="">
                                        <div class="overlay">
                                            <div class="text"> Office Space Designs</div>
                                        </div>
                                    </div> <br>
                                </div>
                                <br>
                                <div class="col-md-4"  (click)="scroll()" [routerLink]="['/reception']">
                                    <div class="card">
                                        <img src="/assets/Office/Reception Area Design - Copy.jpg" alt="">
                                        <div class="overlay">
                                            <div class="text">Reception Area Designs</div>
                                        </div>
                                    </div> <br>
                                </div>
                                <div class="col-md-4"  (click)="scroll()" [routerLink]="['/cafeteria']">
                                    <div class="card">
                                        <img src="/assets/Restaurant/res2.jpg" alt="">
                                        <div class="overlay">
                                            <div class="text">Cafetria Designs</div>
                                        </div>
                                    </div> <br>
                                </div>
                                <br>

                                <div class="col-md-4"  (click)="scroll()" [routerLink]="['/restaurant']">
                                    <div class="card">
                                        <img src="/assets/Restaurant/restaurant3 - Copy.jpg" alt="">
                                        <div class="overlay">
                                            <div class="text">Restaurant Designs</div>
                                        </div>
                                    </div> <br>
                                </div>
                                <br>
                                <div class="col-md-4"  (click)="scroll()" [routerLink]="['/officespace']">
                                    <div class="card">
                                        <img src="/assets/Office/CONFERENCE AA - Copy.jpg" alt="">
                                        <div class="overlay">
                                            <div class="text"> Meeting Room Designs</div>
                                        </div>
                                    </div> <br>
                                </div>
                                <br>
                                <div class="col-md-4"  (click)="scroll()" [routerLink]="['/lobby']">
                                    <div class="card">
                                        <img src="/assets/Lobby/IMG_20190420_111052.jpeg" alt="">
                                        <div class="overlay">
                                            <div class="text">Lobby Designs</div>
                                        </div>
                                    </div> <br>
                                </div>
                                <br>


                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>