
<br>
<div class="container">
    <br><br>
    <h1 style="text-align: center; color: #ffa719;">Our Services</h1>
    <div class="row">
         <br><br>
        <div class="col-md-4">
            <div class="card" [routerLink]="['/Architectservice']">
                <div style="padding: 1%;">
                    <img src="/assets/services/Arc.PNG" class="card-img-top" alt="...">
                    <h6 class="card-text"><b>Architectural Services</b></h6>
                    <a href="#" [routerLink]="['/Architectservice']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>
                </div>
            </div> <br>
        </div>

        <br> <br>
        <div class="col-md-4">
            <div class="card" [routerLink]="['/Interiordesign']">
                <div style="padding: 1%;">
                    <img src="/assets/services/Interior.JPG" class="card-img-top" alt="...">
                    <h6 class="card-text" style="text-align: center;"><b>Interior Services</b></h6>
                    <a href="#" [routerLink]="['/Interiordesign']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>

                </div>
            </div>
            <br> <br>
        </div>

        <br>

        <div class="col-md-4">
            <div class="card" [routerLink]="['/Residentialdesign']">

                <div style="padding: 1%;">
                    <img src="/assets/services/residental.JPG" class="card-img-top" alt="...">
                    <h6 class="card-text" style="text-align: center;"><b> Residential Designs</b></h6>
                    <a href="#" [routerLink]="['/Residentialdesign']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>

                </div>
            </div>
            <br> <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" [routerLink]="['/CommercialDesign']">
                <div style="padding: 1%;">
                    <img src="/assets/services/D.jpg" class="card-img-top" alt="...">
                    <h6 class="card-text" style="text-align: center;"><b>Commercial Designs</b></h6>
                    <a href="#" [routerLink]="['/CommercialDesign']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>

                </div>
            </div>
            <br> <br>
        </div>
        <br>

        <div class="col-md-4">
            <div class="card" [routerLink]="['/Hospitality']">
                <div style="padding: 1%;">
                    <img src="/assets/services/054A4390.JPG" class="card-img-top" alt="...">
                    <h6 class="card-text" style="text-align: center;"><b>Hospitality Designs</b></h6>
                    <a href="#" [routerLink]="['/Hospitality']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>
                </div>
            </div>
            <br> <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" [routerLink]="['/Civilservice']">
                <div style="padding: 1%;">
                    <img src="/assets/services/Civil_site.jpg" class="card-img-top" alt="...">
                    <h6 class="card-text" style="text-align: center;"><b>Civil Services</b></h6>
                    <a href="#" [routerLink]="['/Civilservice']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>
                </div>
            </div>
            <br> <br>
        </div>
    </div>
</div>