.client{
    /* height: 40rem; */
    width: 100%;
}

.image:hover{
    transform: translate(-50%,-10%);
    transform: translateY(50%,30%);
    display: block;
    align-items: center;
    width:50vw;
    height: 50vh;
    z-index: 2;
}

h1{
    color: #ffa719;
    text-decoration: underline;
}

h3{
    color: #ffa719;
}
