<br><br>
<div class="container">
    <br> <br>
    <i class="fa-sharp fa-solid fa-backward" [routerLink]="['/Home']"></i>
    <br>

    <div class="row">
        <div class="col-md-4">
            <h1> Client Information </h1>
            <div class="col-md-6">
                <div class="card1">
                    <div class="card-body">
                        <img class="client" src="/assets/Reviews/Dr. Snehal Sonarkar_Edit.jpg" alt="">
                    </div>
                </div>
            </div>
            <h2> Dr. Snehal Sonarkar </h2>
            <p>Founder of The Gleam smile dental care Nagpur</p>
        </div>
        <div class="col-md-8">
            <h1>Work</h1>
            <div class="container">
                <div class="row">

                    <div class="card">
                        <div class="card-body">
                            <div id="carouselExampleIndicators" class="carousel slide carousel-fade"
                                data-mdb-ride="carousel">

                                <div class="carousel-inner mb-5">
                                    <div class="carousel-item active">
                                        <img src="/assets/client1/054A4448.JPG" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/client1/054A4451.JPG" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/client1/054A4456.JPG" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/client1/054A4459.JPG" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/client1/054A4462.JPG" class="d-block w-100" alt="..." />
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/assets/client1/IMG20210617175108.jpg" class="d-block w-100" alt="..." />
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/assets/client1/IMG20210617181843.jpg" class="d-block w-100" alt="..." />
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/assets/client1/PicsArt_06-17-08.48.01.jpg" class="d-block w-100" alt="..." />
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/assets/client1/WhatsApp Image 2021-06-22 at 11.20.51 AM.jpeg" class="d-block w-100" alt="..." />
                                    </div>
                                </div>

                                <button class="carousel-control-prev" type="button"
                                    data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>

                                <div class="carousel-indicators btnstyle">
                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"
                                        style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/054A4448.JPG"
                                            class="img-fluid" />
                                    </button>
                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="1" aria-label="Slide 2" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/054A4451.JPG"
                                            class="img-fluid" />
                                    </button>
                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="2" aria-label="Slide 3" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/054A4456.JPG"
                                            class="img-fluid" />
                                    </button>
                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="3" aria-label="Slide 2" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/054A4459.JPG"
                                            class="img-fluid" />
                                    </button>

                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="4" aria-label="Slide 3" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/054A4462.JPG"
                                            class="img-fluid" />
                                    </button>

                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="5" aria-label="Slide 3" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/IMG20210617175108.jpg"
                                            class="img-fluid" />
                                    </button>

                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="6" aria-label="Slide 3" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/IMG20210617181843.jpg" class="img-fluid" />
                                    </button>
                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="7" aria-label="Slide 3" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/PicsArt_06-17-08.48.01.jpg"
                                            class="img-fluid" />
                                    </button>
                                    <button class="btn-lg" type="button" data-mdb-target="#carouselExampleIndicators"
                                        data-mdb-slide-to="8" aria-label="Slide 3" style="width: 500px;">
                                        <img class="d-block w-100" src="/assets/client1/WhatsApp Image 2021-06-22 at 11.20.51 AM.jpeg" class="img-fluid" />
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br><br>
        </div>
        <br><br>
    </div>

    <br><br><br>
</div>