<br>
<div class=" carrd">
    <div class="card-body">
        <!-- Carousel wrapper -->
        <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active" data-mdb-interval="2000">
                    <img src="/assets/G_Edit.jpg" class="d-block w-100" alt="Sunset Over the City" />

                </div>

                <!-- Single item -->
                <div class="carousel-item" data-mdb-interval="2000">
                    <img src="/assets/allimages/Living_Room.jpg" class="d-block w-100" alt="Canyon at Nigh" />

                </div>

                <!-- Single item -->
                <div class="carousel-item" data-mdb-interval="2000">
                    <img src="/assets/LIVINGAA.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea" />

                </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </div>
</div>


<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class=" carrd" style="height: 85%;padding: 2%;">
                <div class="card-body">
                    <h1 style="color: white;">Welcome To <span class="carvet">CARVEIT INTERIORS</span></h1>

                    <p class="p"><span style="color: #ffa719;"> CarveIt Interiors & Associates</span>
                        Few years after its inception, & the state of the art in Pune, we purely believe in our name &
                        deliver the
                        same. <br>
                        We are here to carve your dream for a beautiful home into reality. </p>

                    <p style="color: #ffa719;" (click)="scroll()" [routerLink]="['/Textdata']"><i
                            class="fa fa-light fa-angles-down"></i>
                        <b> Read More</b>
                    </p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <div class=" carrd" style="height: 85%;">
                <div class="card-body">
                    <h1 style="color:#ffa719;">ABOUT US</h1>
                    <p class="p">
                        Your tiresome search for the best interior designers in Pune ends at CarveIt Interiors.
                        CarveIt interiors is a defination of quality & excellence.We are known for our magnificent
                        craftsmanship.
                        We that every individual have a special ,intimate / cherished ,
                        emotional bond with their homes.
                    </p>
                    <p style="color: #ffa719;" (click)="scroll()" [routerLink]="['/About']"><i
                            class="fa fa-light fa-angles-down"></i> <b>
                            Read More</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container-fluid">
    <br>
    <h1 style="text-align: center; color: #ffa719; font-weight: bolder;">KEY FACTORS</h1> <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-2">
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/1.png"
                                alt=""> <br><br>
                        </div>
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/2.png"
                                alt=""> <br><br>
                        </div>
                    </div>

                    <div class="row row-cols-2">
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/3.png"
                                alt=""> <br><br>
                        </div>
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/4.png"
                                alt=""> <br><br>
                        </div>
                    </div>
                </div>
            </div> <br>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-2">
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/5.png"
                                alt=""> <br><br>
                        </div>
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/6.png"
                                alt=""> <br><br>
                        </div>
                    </div>

                    <div class="row row-cols-2">
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/7.png"
                                alt=""> <br><br>
                        </div>
                        <div class="col-md-6">
                            <img class="animate__animated animate__pulse animate__repeat-3" src="/assets/Keyfact/8.png"
                                alt=""> <br><br>
                        </div>
                    </div>
                </div>
            </div> <br>
        </div>

    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <br>
        <h1 style="text-align: center; color: #ffa719;">Our Services</h1>
        <br> <br><br>
        <div class="col-md-4">
            <div class="caarrd" [routerLink]="['/Interiordesign']">
                <div style="padding: 1%;">
                    <img src="/assets/services/Interior.JPG" class="card-img-top imgs" alt="...">
                    <h6 class="card-text" style="text-align: center;"><b>Interior Services</b></h6>
                    <a href="#" [routerLink]="['/Interiordesign']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>
                </div>
            </div>
            <br> <br>
        </div>
        <br> <br>

        <div class="col-md-4">
            <div class="caarrd" [routerLink]="['/Architectservice']">
                <div style="padding: 1%;">
                    <img src="/assets/services/Arc.PNG" class="card-img-top imgs" alt="...">
                    <h6 class="card-text "><b>Architectural Services</b></h6>
                    <a href="#" [routerLink]="['/Architectservice']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>
                </div>
            </div> <br>
        </div>
        <br>
        <br>
        <div class="col-md-4">
            <div class="caarrd " [routerLink]="['/Civilservice']">
                <div style="padding: 1%;">
                    <img src="/assets/services/Civil_site.jpg" class="card-img-top imgs" alt="...">
                    <h6 class="card-text" style="text-align: center;"><b>Civil Services</b></h6>
                    <a href="#" [routerLink]="['/Civilservice']" class="arrow"><i
                            class="fa-solid fa-chevron-down"></i></a>
                </div>
            </div>
            <br> <br>
        </div>
    </div>
</div>

<app-process></app-process>
<app-completedproject></app-completedproject>