<div class="container">
    <br> <br>
    <p><i class="bi bi-caret-left-fill contact" [routerLink]="['/home']"></i></p>
    <p class="p">Back to search</p>
    <br>
    <h1 style="color: #ffa719; text-align: center;">ABOUT US</h1>

    <br> <br>
    <p class="text">Your tiresome search for the best interior designers in Pune ends at CarveIt Interiors. CarveIt
        Interiors is a definition of quality & excellence. We are known for our magnificent craftsmanship.
        We believe that every individual has a special, intimate, or cherished emotional bond with their homes. We
        design & decorate the homes with the same perception, which makes the bond stronger.</p>

    <p class="text">We have a team at CarveIt Interiors that provides exclusive, luxurious home interiors. Having its
        base location
        in Pune, CarveIt Interiors is working in various key cities of Maharashtra & now expanding its wings in
        different states.
        CarveIt Interiors has been part of various aristocratic projects, which includes a fusion of classic & modern
        themes.</p>

    <p class="text">We at CarveIt Interiors admire the vision of our clients & provide fabulous home interiors with
        creativity &
        innovations. We have a motive of providing home decor with a blend of elegance.
        Our core objective is to deliver things on time, quality & most importantly, keeping the financial plans of our
        clients in mind.
    </p>
    <p class="text"> Our designing process starts with understanding the needs of our clients & available spaces.
        Keeping unworkable
        ideas at bay & filtering out the best ideas that turn your dream home into reality.
        The process of our designing cell includes design work, sketches, visualization, selection, preferences,
        problem-solving attitude, various verbal & virtual meetings, and much more,
        that recast the base space into an amazingly modern, trending, and brand new place to live in.</p>

    <p class="text"> Not only your homes, CarveIt Interiors is here to make your commercial space like a second home for
        you.
        Designing your commercial space in such a sterling way, where you can work more efficiently and practically.

    </p>
    <p class="text">Our designing cell has a vision to make your commercial space a functional character that resembles
        your
        reputation because it's the place that attracts your clients and always makes your clients feel welcome.</p>


    <br>

    <ul style="list-style-type: none;">
        <h1 style="text-decoration: underline;color: #ffa719;"> KEY FACTORS :</h1>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> We Maintain Time Frames</li>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> Dedication And Coordination</li>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> Strategize and Identifies Dream View</li>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> Premium Quality Finishes</li>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> Considering Your Timeline</li>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> Customer Satisfaction is First Priority</li>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> Revamp your space into reality</li>
        <li style="font-size: 18px;"><i class="bi bi-square"></i> Trusting Relationships</li>
    </ul>

</div>