.text{
    text-align: justify;
    font-size: 18px;
}

@media(max-width:414px){
    .text{
        font-size: 15px;
    }
    .container{
        padding: 30rem;
    }
}

.container{
    padding: 5%;
    color: black;
}

.contact {
    /* color: #2A1100; */
    color: #ffa719;
    z-index: 2;
    position: fixed;

}

.p {
    display: none;
}

.contact:hover+.p {
    display: block;
    font-size: 15px;
    color: white;
    z-index: 1;
}