<br><br> <br><div class="container">
    <br>  <p class="i" [routerLink]="['/Home']"><i class="fa-sharp fa-solid fa-backward"></i>Back to home</p>
      <h1 style="text-align: center;color: #ffa719;">HOSPITALITY DESIGNS</h1> <br><br>
      <div class="div">
          <h3>A) Healthcare Interior : </h3>  <br>
         <div class="row">
          <div class="col-md-6">
              <p>Healthcare interior design is a specialized area of interior design that focuses specifically on designing
                  interior spaces in healthcare facilities such as hospitals, clinics, and medical offices. 
                  The goal of healthcare interior design is to create functional, efficient, and aesthetically pleasing spaces that
                  support the well-being of patients, healthcare providers, and staff.
              </p>
             
          </div>
          <div class="col-md-6">
              <img class="images" src="/assets/Hospilality/054A4456.JPG" alt="">
          </div>
         </div>
      </div>
      <br> 
      <br><br>
      <div class="div text"> <br>
          <h3>B) Hospitality Interior : </h3> <br>
        <div class="row">
          <div class="col-md-6">
              <img class="images" src="/assets/Hospilality/dental.jpg" alt="">
                  
          </div>
          <div class="col-md-6"> <br>
              <p>Hospitality interior design is a specialized area of interior design that focuses specifically on designing
                  interior spaces in hotels, resorts, restaurants, and other similar venues.
                  <br> The goal of hospitality interior
                  design is to create a welcoming and comfortable environment for guests, while also creating a unique and
                  memorable experience.
              </p>
        
          </div>
        </div>
      </div>
      <br><br>
  </div>