<app-navbar></app-navbar>
<br> <br>

  <ul class="menu">
    <li>

    </li>
    <li>
      <a href="" [routerLink]="['/Contact']" >
        <span>
          <i class="fa-solid fa-address-card contact"></i>
        </span>
       
      </a>
    </li>
  
    <li>
      <a href="https://wa.me/+919325338702" target="_blank">
        <span>
          <i class="fa-brands fa-whatsapp icon"></i>
        </span>
   
      </a>
    </li>
  
    <li>
      <a href="https://www.instagram.com/carveit_int" target="_blank">
        <span>
          <i class="fa-brands fa-instagram iconi"></i>
        </span>
      
      </a>
    </li>
  
    <li>
      <a href="https://www.facebook.com/people/CarveIt-Interiors-Associates/100083054296288/" target="_blank">
        <span>
          <i class="fa-brands fa-facebook facebook"></i>
        </span>
      
      </a>
    </li>

  </ul>

<div>
  <a><button class="button" (click)="scroll()" >👆</button></a>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>