<br><br><br>
<div class="container">
    <br>
    <p class="i" [routerLink]="['/Home']"><i class="fa fa fa-angles-left icon"></i>Back to home</p>
    <h1 style="text-align: center; color: #ffa719;">Architectural Services</h1> <br>
    <div class="row">

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">
                    Schematic Design
                </div>
                <div class="card-body">

                    <p class="card-text">Architectural schematic design is the initial phase of the architectural design
                        process in which the basic concepts and ideas for a building or structure are developed. <br>
                        It involves the creation of rough sketches, diagrams,drawings that help the architect
                        and the client visualize and refine the design of the project.<br>
                    </p>
                    <a class="btn">Know More</a>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">
                    Design Development
                </div>
                <div class="card-body">

                    <p class="card-text"> Architectural design development is the second phase of the architectural
                        design process, following the schematic design phase. <br>
                        During this phase, the design is developed
                        in greater detail, taking into account the client's requirements and feedback received during
                        the schematic design phase.<br>
                    </p>
                    <a class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">
                    Construction Documents
                </div>
                <div class="card-body">

                    <p class="card-text">Architectural construction documents, also known as construction drawings or
                        working drawings, are detailed drawings and specifications that provide instructions for the
                        construction of a building or structure. <br>
                        These documents are typically created during contractors and builders to construct the project.
                    </p>
                    <a class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">
                    Bidding
                </div>
                <div class="card-body">

                    <p class="card-text">Architectural bidding is the process in which contractors and construction
                        firms submit proposals to a client for a construction project based on the architectural design
                        documents that have been created.
                        <br>
                        Once the architectural construction documents have been completed, the client will typically
                        solicit bids from a number of different contractors or construction firms. The bidding process
                        typically involves the following steps:
                    </p>
                    <a class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">
                    Construction Observation
                </div>
                <div class="card-body">
                    <p class="card-text"> Architectural construction observation is the process of monitoring and
                        inspecting a construction site to ensure that the construction is being carried out in
                        compliance with the architectural design plans and specifications.
                        <br> This process involves regular
                        site visits by an architect or architectural team to assess the progress of the construction
                        work, identify any potential issues or problems, and ensure that the project is meeting all
                        safety, quality, and legal requirements.
                    </p>
                    <a class="btn btn">Know More</a>
                </div>
            </div> <br>
        </div>

    </div>
</div>



<div class="container">
    <h1 style="text-align: center;">Architectural Services </h1> <br>
    <br>
    <div id="S">
        <div class="row">
            <h3>A.Schematic Design : </h3> <br>
            <br>
            <div class="col-md-6"> <br>
                <img class="images" src="/assets/allimages/ArchitecturalServices/Schematic_Design.jpg" alt="">

            </div>
            <div class="col-md-6"> <br><br>
                <p>Architectural schematic design is the initial phase of the architectural design process in which the
                    basic
                    concepts and ideas for a building or structure are developed. It involves the creation of rough
                    sketches,
                    diagrams, and drawings that help the architect and the client visualize and refine the design of the
                    project.</p>


            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <h3>B.Design Development :</h3>
            <br>
            <div class="col-md-6"> <br>
                <p> Architectural design development is the second phase of the architectural design process, following
                    the
                    schematic design phase. During this phase, the design is developed in greater detail, taking into
                    account
                    the client's requirements and feedback received during the schematic design phase.

                </p>

            </div>
            <div class="col-md-6"> <br> <br>
                <img  class="images" src="/assets/allimages/ArchitecturalServices/Design_Development.jpg" alt=""><br>
                <br>
            </div>
        </div>
        <br>

        <div class="row">
            <h3>C.Construction Documents :</h3> <br>
            <div class="col-md-6"> <br>
                <img class="images" src="/assets/allimages/ArchitecturalServices/Construction.jpg" alt=""><br> <br>
            </div>
            <div class="col-md-6">
                <br> <br>
                <P> Construction documents are a critical component of any construction project, as they provide a
                    complete and
                    detailed picture of the project that contractors can use to estimate costs, schedule work, and carry
                    out the
                    construction process. Construction documents typically include the following types of drawings:</P>
                <br>
                <ul>
                    <li>Floor plans:
                    </li>
                    <li>Elevations:
                    </li>
                    <li>Sections:
                    </li>
                    <li>Details:
                    </li>
                </ul>

            </div>
        </div>
        <br><br>

        <div class="row">
            <h3>D.Bidding :</h3> <br> <br>
            <br>
            <div class="col-md-6"> <br>
                <p> Architectural bidding is the process in which contractors and construction firms submit proposals to
                    a
                    client for a construction project based on the architectural design documents that have been
                    created.
                </p>

                <br><br>
            </div>
            <div class="col-md-6">
                <img class="images" src="/assets/allimages/ArchitecturalServices/Bidding.jpg" alt=""><br> <br>

            </div>
        </div>

        <br>

        <div class="row">
            <h3>E.Construction Observation :</h3>
            <br>
            <div class="col-md-6"> <br> <br>
                <img class="images" src="/assets/allimages/ArchitecturalServices/Construction_Observation.jpg"
                    alt=""><br>
            </div>
            <div class="col-md-6"> <br><br> <br>
                <div style="font-size: 16px;">
                    <p> Architectural construction observation is the process of monitoring and inspecting a
                        construction site to
                        ensure that the construction is being carried out in compliance with the architectural design
                        plans and
                        specifications. This process involves regular site visits by an architect or architectural team
                        to assess
                        the progress of the construction work, identify any potential issues or problems, and ensure
                        that the
                        project is meeting all safety, quality, and legal requirements.
                    </p>

                </div>
            </div>
        </div>
        <br><br>
    </div>

</div>