<br><br><br><div class="container">

    <br>
    <p class="i" [routerLink]="['/Home']"><i class="fa fa fa-angles-left icon" ></i>Back to home</p>
    <h1 style="text-align: center; color: #ffa719;">COMMERCIAL DESIGNS</h1> <br>
    <div>
        <div class="row">
            <h3>A) Commercial Interior :</h3>
            
            <div class="col-md-6"> <br> <br>    
                <p>Commercial interior design is the art and science of creating functional and aesthetically pleasing
                    interior
                    spaces within commercial buildings such as offices, retail stores, hotels, restaurants, and other
                    public
                    spaces.
                    It involves designing interiors that meet the specific needs of the business or organization, while
                    also
                    creating an inviting and engaging environment for employees, customers, and visitors.</p>
          
            </div>
            <div class="col-md-6">
                <img class="images" src="/assets/allimages/CommercialDesign/OfficeSpaceDesign.jpg" alt="">
            </div>
        </div>
    </div>

    <br>

    <div class="row"> <br>
        <h3>B) Corporate Interior:</h3>
<br>
        <div class="col-md-6"> <br>
            <img class="images" src="/assets/allimages/CommercialDesign/OfficeSpaceDesign_02.jpg" alt="">
        </div>
        <div class="col-md-6"> <br> <br> <br>
            <p>Corporate interior design is a specialized branch of commercial interior design that focuses specifically
                on designing functional, aesthetically pleasing, and efficient work environments for corporations and
                businesses.
                The goal of corporate interior design is to create a space that reflects the company's brand identity,
                culture,
                and values while also enhancing the productivity, health, and well-being of employees.</p>
            
        </div>
    </div>
    <br>
</div>