<!-- Footer work -->
<br>
<div class="container-fluid">
    <img style="width: 100%;" src="/assets/Brand_P_Banner.jpg" alt="">
</div>
<br> <br>

<div class="main">
    <div class="container"> <br>
        <h3 style="text-align: center; color: #ffa719">Keep In Touch</h3> <br>
        <h1 style="text-align: center; color: #ffa719">CONTACT US </h1> <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="dic">
                    <h3 style="color:#ffa719"><i class="fa fa-location-dot"></i> Our Office Location</h3>
                    <h5 style="color:#ffa719">Pune</h5>
                    <h5 style="color:#ffa719">Omega Paradise, Shankar Kalat Road,Wakad, Pune MH-411057.
                    </h5>
                    <hr style="width: 100px; font-weight: bold;">
                    <h5 style="color: #ffa719">Nagpur</h5>
                    <h5 style="color: #ffa719">Ushkaal Gold, Jaitwan Society,Khamla Road, Nagpur MH-440025.</h5>
                </div> <br>
            </div>
            <br>
            <div class="col-md-4">
                <div class="dic1">
                    <h3 style="color: #ffa719;"><i class="fa-solid fa-phone-volume"></i> Phone</h3>
                    <p style="color: #ffa719;font-size: 19px;">+91 9325338702<br></p>
                    <h3 style="color: #ffa719;"> <i class="fa fa-light fa-envelope"></i> Email</h3>
                    <p style="color: #ffa719; font-size: 19px;">carveitinteriors.in@gmail.com<br>
                        contact@carveitinteriors.in <br>
                        info@carveitinteriors.in</p>
                </div>
            </div>

            <br><br>
            <div class="div">
                <ul style="list-style: none; display: flex;justify-content: center;">
                    <li class="list"> <a style="color: #ffa719"
                            href="https://www.facebook.com/people/CarveIt-Interiors-Associates/100083054296288/"
                            target="_blank"><i class="fa-brands fa-facebook"> </i> </a> </li>
                    <li class="list"> <a style="color: #ffa719" href="https://www.instagram.com/carveit_int"
                            target="_blank"><i class="fa-brands fa-instagram"> </i> </a> </li>
                    <li class="list"> <a style="color: #ffa719" href="#"><i class="fa-brands fa-linkedin-in"></i> </a>
                    </li>
                    <li class="list"> <a style="color: #ffa719" href="#"><i class="fa-brands fa-youtube"> </i> </a>
                    </li>
                    <li class="list"> <a style="color: #ffa719" href="#"><i class="fa-brands fa-twitter"> </i> </a>
                    </li>
                    <li class="list"> <a style="color: #ffa719" href="#"><i class="fa-brands fa-pinterest"> </i> </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>